* {
    font-family:Arial;
    z-index:0;
    /*background-color:rgb(215, 215, 236)*/
}

html {
    background-color:rgb(215, 215, 236)
}

html.light-theme {
    background-color:#093635;
}

.current-operand.light-theme {
    background-color:#8c9a9a;
}

.previous-operand {
    margin-bottom:10px;
}

.previous-operand.light-theme {
    background-color:#5a6c64;
}

.theme-bt {
    position: absolute;
    top:20px;
    left:20px;
    color:white;
    border:none;
}

.theme-btn-text {
    font-size: 18px;
}


.iconsun {
    background-color:transparent;
}

.iconsun:hover {
    cursor: pointer;
    transition: 0.5s;
    filter: invert(6%) sepia(75%) saturate(68%) hue-rotate(7deg) brightness(32%) contrast(67%);
  }

.calculator {
    z-index:10;
    margin:85px auto;
    width:650px;
    height:500px;
    border-radius: 20px;
    background: #000;
    color:#fff;
    padding:20px;
}

.calculator.light-theme {
    background-color:rgb(37, 35, 35);
}

.screen {
    background-color:black;
    height:100px;
    padding:10px;
    text-align: right;
    margin-bottom:20px;
}

.screen.light-theme {
    background-color:rgb(37, 35, 35);
}

/* .screen p {
    border-radius:8px;
    padding: 5px;
    padding-right: 10px;
    font-size:3rem;
    background: gray;
} */

.screen div {
    border-radius:8px;
    padding: 5px;
    padding-right: 10px;
    font-size:3rem;
    background: gray;
}

#result {
    height: 3rem;
}

#previous {
    background: rgb(52, 52, 52);
    font-size:1.5rem;
    height: 1.5rem;
}

.btn {
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.3rem;
    user-select:none;
    width:65px;
    height:65px;
    background:#333;
    border-radius:8px;
    text-align:center;
    line-height:60px;
    cursor:pointer;
    border:none;
}

.buttons {
    background-color:#000;
    display:grid;
    grid-template-areas:
    "mc squareroot square ac plus-minus percent division"
    "mplus cuberoot cube seven eight nine multiply"
    "mminus xyroot xy four five six minus"
    "mr factorial 10x one two three plus"
    "returnbt log 1xdivision zero zero dot equal";
    justify-items:center;
    grid-gap:10px;
}


div.buttons.light-theme {
    background-color:rgb(37, 35, 35);
}

.btn.light-theme {
    border:none;
}

.btn.zero {
    grid-area:zero;
    width:95%;
    border-radius:8px;
}

.btn.black-bt {
    grid-area:returnbt;
    width:80%;
}

.btn.log {
    grid-area:log;
    width:80%;
}

.btn.grey-bt {
    background:rgb(162, 160, 160)
}

.orange-bt {
    background:#f9a229;
}

.orange-bt.light-theme {
    background-color:#c06021;
}

.btn:hover {
    background-color:rgb(68, 68, 68);
    transition: 0.2s;
}

.btn:active {
    background-color:rgb(68, 68, 68);
}